--swiftversion 5.9
--indent 4
--indentcase false
--trimwhitespace always
--stripunusedargs closure-only
--maxwidth 150
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
--commas always
--semicolons never
--header strip
--importgrouping testable-bottom
--self remove
--disable redundantSelf
--disable trailingCommas
--disable wrapMultilineStatementBraces
--exclude build,DerivedData,Claudiator.xcodeproj
